*{
	margin: 0px;
	padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1{
	
	color: #fff;
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%,-50%);
	font-size: 40px;
	z-index: 1;
	text-shadow: 2px 2px 4px #000000;
	
}

.button{
	background-color: #3366FF;
	display: inline-block;
	border-radius: 4px;
	border: none;
	color: #fff;
	text-align: center;
	font-size: 20px;
	padding: 15px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	position: absolute;
	top: 60%;
	left: 19%;
	transform: translate(-50%,-50%);
	z-index: 1;
}

.button:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);	
}

.buttom:hover span{
	padding-right: 25px;
}

.button:hover span:after{
	opacity: 1;
	right: 0;
}

.button span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.welcome{
	background-image: linear-gradient(#ff5722, #ff9800);
	position:relative;
	height: 100vh;
	overflow: hidden;
	font-family: Arial, Helvetica, san-serif;
}

.form-box{
	top: 40%;
	left: 75%;
	transform: translate(-50%,-50%);
	z-index: 1;
	width: 410px;
	height: 600px;
	position: absolute;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
	box-shadow: 10px 10px 5px grey;
}

.input-group{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	width: 280px;
	transition: .5s;
	
}

.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
	
}

ul li{
	position: absolute;
	z-index: 0;
	border: 1px solid #fff;
	width: 30px;
	height: 30px;
	list-style: none;	
	opacity: 0;
	background: #fff;
}

.square li{
	top:50vh;
	left: 45vw;
	animation: square 10s linear infinite;
}

.square li:nth-child(2){
	top: 80vh;
	left: 10vw;
	animation-delay: 2s;
}

.square li:nth-child(3){
	top: 80vh;
	left: 85vw;
	animation-delay: 4s;
}

.square li:nth-child(4){
	top: 10vh;
	left: 70vw;
	animation-delay: 6s;
}

.square li:nth-child(5){
	top: 10vh;
	left: 10vw;
	animation-delay: 8s;
}

@keyframes square{
	0%{
		transform: scale(0) rotateY(0deg);
		opacity: 1;
	}
	100%{
		transform: scale(5) rotateY(1000deg);
		opacity: 0;
	}
}

.circle li{
	bottom: 0;
	left: 15vw;
	animation: circle 10s linear infinite;
}

.circle li:nth-child(2){
	left: 35vw;
	animation-delay: 2s;
}

.circle li:nth-child(3){
	left: 55vw;
	animation-delay: 6s;
}

.circle li:nth-child(4){
	left: 75vw;
	animation-delay: 4s;
}

.circle li:nth-child(5){
	left: 90vw;
	animation-delay: 8s;
}

@keyframes circle{
	0%{
		transform: scale(0) rotate(0deg);
		opacity: 1;
		bottom: 0;
		border-radius: 0;
	}
	100%{
		transform: scale(5) rotate(1000deg);
		opacity: 0;
		bottom: 90vh;
		border-radius: 50%;
	}
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}