<html>
    <head>
        <title>Dashboard</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
        <link rel="stylesheet" href="{% static 'css/dcustomer.css' %}">
    </head>
    <body>
        <div class="background">
                
                <div class="top-bar">
                    <a href="{% url 'app:dashboard_view' %}">
                        <p class="nbutton">&#8592;</p>
                    </a>
                   
                    <p class="h1">Welcome Admin!</p><br>
                    <button class="button" id="customerButton">Customer Report</button>
                    <a href="{% url 'app:reg_customers_view' %}"><button class="button">Add Customer</button></a>
                </div>              
                
                <div class="scrollbar scrollbar-sunny-morning" id="content">
                  <div class="force-overflow">
                    
                      <table>
                        <thead>
                          <tr>
                              <th>Date Registered</th>
                              <th>Firstname</th>
                              <th>Lastname</th>
                              <th>Date of Birth</th>
                              <th>Address</th>
                              <th></th>
                              <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for customer in customers %}
                          {% if customer.deleted == 0 %}
                          <tr>
                              <td>{{customer.dateregistered}}</td>
                              <td>{{customer.firstname}}</td>
                              <td>{{customer.lastname}}</td>
                              <td>{{customer.birthday}}</td>
                              <td>{{customer.street}}, {{customer.barangay}}, {{customer.city}}, {{customer.province}}, {{customer.zipcode}}, {{customer.country}}</td>
                              <td><button type="button" class="button" data-toggle="modal" data-target="#{{customer.id}}">Update</button></td>
                              <td><button type="button" class="button" data-toggle="modal" data-target="#d{{customer.id}}">Delete</button></td>
                          </tr>
                          {% endif %}
                          {% endfor %}
                        </tbody>
                      </table>

                  </div>
                </div>
                


  {% for customer in customers %}
  <form action="" method="POST">
    {% csrf_token %}
  <!-- Modal Update -->
  <div class="modal fade" id="{{customer.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Update {{customer.firstname}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <input type="text" name="cid" value="{{customer.id}}" hidden>
          <!-- {{customer.id}}         -->
          <pre>
<label for="email" >Email</label>                   <label for="password">Password</label>
<input type="email" name="email" value="{{customer.email}}" /> <input type="password" name="password" value="{{customer.password}}" />
<label for="firstname">Firstname</label>               <label for="middlename">Middlename</label>             <label for="lastname">Lastname</label>
<input type="text" name="firstname" value="{{customer.firstname}}" /> <input type="text" name="middlename" value="{{customer.middlename}}" /> <input type="text" name="lastname" value="{{customer.lastname}}" />
<label for="bday" >Birthday</label>                <label for="gender" >Gender</label>
<input type="date" name="birthday" value="{{customer.birthday|date:'Y-m-d'}}"/>    <select name="gender">
{% if customer.gender == 'Male' %}
  <option value="Male">Male</option>
  <option value="Female">Female</option>
  <option value="NonBinary">NonBinary</option>
{% elif customer.gender == 'Female' %}
  <option value="Female">Female</option>  
  <option value="Male">Male</option>  
  <option value="NonBinary">NonBinary</option>
{% else %}
  <option value="NonBinary">NonBinary</option>
  <option value="Male">Male</option>
  <option value="Female">Female</option>
{% endif %}

</select>
<label for="street">Street</label>                  <label for="barangay">Barangay</label>               <label for="city">City</label>  
<input type="text" name="street" value="{{customer.street}}" /> <input type="text" name="barangay" value="{{customer.barangay}}" /> <input type="text" name="city" value="{{customer.city}}" />
<label for="province">Province</label>                <label for="zipcode">Zipcode</label>                <label for="country">Country</label>
<input type="text" name="province" value="{{customer.province}}" /> <input type="number" name="zipcode" value="{{customer.zipcode}}" /> <input type="text" name="country" value="{{customer.country}}" />
          </pre>
        </div>
        <div class="modal-footer">          
          <button type="submit" name="btnUpdate" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete -->
  <div class="modal fade" id="d{{customer.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete {{customer.firstname}}?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>        
        <div class="modal-footer">
            <input type="text" name="cid" value="{{customer.id}}" hidden>
            <button type="submit" name="btnDelete" class="btn btn-primary">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>          
        </div>
      </div>
    </div>
  </div>
</form>        
  {% endfor %}     

                
            
            <div class="square">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            
            <div class="circle">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <script src="{% static 'js/dcustomer.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>        
    </body>
    <!-- <footer>
	ZAFRA
    </footer> -->
</html>