<html>
    <head>
        <title>Dashboard</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
        <link rel="stylesheet" href="{% static 'css/dproduct.css' %}">        
    </head>
    <body>
        <div class="background">
                <div class="top-bar">
                    <a href="{% url 'app:dashboard_view' %}">
                        <p class="nbutton">&#8592;</p>
                    </a>
                    <p class="h1">Welcome Admin!</p><br>
                    <button class="button" id="pBtn">Product Report</button>                    
                    <a href="{% url 'app:reg_products_view' %}"><button class="abutton1">Add Product</button></a>
                </div>              
                
                <div class="scrollbar scrollbar-sunny-morning" id="content">
                  <div class="force-overflow">
                    <table>
                      <thead>
                        <tr>
                            <th>Date Registered</th>
                            <th>Category</th>
                            <th>Brand</th>
                            <th>Color</th>
                            <th>Size/Dimensions</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>No. of Items</th>
                            <th></th>
                            <th></th>
                        </tr> 
                      </thead>
                      <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{product.dateregistered}}</td>
                            <td>{{product.category}}</td>
                            <td>{{product.brand}}</td>
                            <td>{{product.color}}</td>
                            <td>{{product.size}}</td>
                            <td>{{product.productname}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.stocks}}</td>
                            <td><button type="button" class="button" data-toggle="modal" data-target="#{{product.id}}">Update</button></td>
                            <td><button type="button" class="button" data-toggle="modal" data-target="#d{{product.id}}">Delete</button></td>
                        </tr>
                        {% endfor %}    
                      </tbody>                                          
                    </table>
                  </div>
                </div>


  {% for product in products %}
  <form action="" method="POST">
    {% csrf_token %}
  <!-- Modal Update -->
  <div class="modal fade" id="{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Update {{product.productname}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <input type="text" name="pid" value="{{product.id}}" hidden>
          <!-- {{product.id}}         -->
          <label for="ProductName">Product Name:</label><br>
          <input type = "text" tabindex="1" class = "input-field" name="productname" id = "ProductName" value = "{{product.productname}}">
          <br>
          <label for="Category">Category:</label><br>
          <input type = "text" tabindex="2" class = "input-field" name="category" id = "Category" value = "{{product.category}}">
          <br>
          <label for="Brand">Brand:</label><br>
          <input type = "text" tabindex="3" class = "input-field" name="brand" id = "Brand" value = "{{product.brand}}">
          <br>
          <label for="Color">Color:</label><br>
          <input type = "text" tabindex="4" class = "input-field" name="color" id = "Color" value = "{{product.color}}">
          <br>
          <label for="Size">Size/Dimensions:</label><br>
          <input type = "text" tabindex="5" class = "input-field" name="size" id = "Size" value = "{{product.size}}">
          <br>
          <label for="Price">Price:</label><br>
          <input type = "text" tabindex="6" class = "input-field" name="price" id = "Price" value = "{{product.price}}">
          <br>
          <label for="Stocks">Stocks:</label><br>
          <input type = "text" tabindex="7" class = "input-field" name="stocks" id = "Stocks" value = "{{product.stocks}}">
        </div>
        <div class="modal-footer">
          <button type="submit" name="btnUpdate" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>          
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete -->
  <div class="modal fade" id="d{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete {{product.productname}}?</h5>
          {{product.id}}
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>        
        <div class="modal-footer">
            <input type="text" name="pid" value="{{product.id}}" hidden>
            <button type="submit" name="btnDelete" class="btn btn-primary">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>          
        </div>
      </div>
    </div>
  </div>
</form>
  {% endfor %}

                
            
            <div class="square">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            
            <div class="circle">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <script src="{% static 'js/dproduct.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
    <!-- <footer>
	ZAFRA
    </footer> -->
</html>