@font-face {
  font-family: Ubuntu-Regular;
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
}

* {
  padding: 0;
  margin: 0;
}

body, html {
  font-family: Ubuntu-Regular, sans-serif;
}

button {
  color: black;
  border: none;
  outline: none !important;
  cursor: pointer;
}

button:hover {
  color: #5955ff;
}

/* CSS Animations */
@-webkit-keyframes "topbar" {
  0% {
    opacity: 0;
    margin-top: -5vh;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes "home" {
  0% {
    opacity: 0;
    margin-left: -5vh;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes "logout" {
  0% {
    opacity: 0;
    margin-right: -5vh;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes "groupbutton" {
  0% {
    opacity: 0;
    margin: 0 8vw 0 8vw;
  }
  100% {
    opacity: 1;
  }
}

.topbar {
  background: #E4B310;
  cursor: default;
  width: 100%;
  height: 3.5em;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 0 20px 0 #232b2b;
  background-image: linear-gradient(#F4CA3F 25%, #E4B310 60%, #E0B013 30%);

  -webkit-animation: topbar 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

.calendar {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  float: left;
  font-size: 30px;
  background-color: transparent;
  margin-left: 10px;
  opacity: 0;

  -webkit-animation: home 0.5s ease-in-out;
  -webkit-animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
}

.dt {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 0;
  transform: translate(20%, -50%);
  float: left;
  font-size: 20px;
  background-color: transparent;
}

.logout {
  position: absolute;
  overflow: hidden;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  float: right;
  font-size: 30px;
  background-color: transparent;
  margin-right: 10px;
  opacity: 0;

  -webkit-animation: logout 0.5s ease-in-out;
  -webkit-animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
}

.container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button-group-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.button-group-wrap button {
  padding: 20px;
  border: 5px solid black;
  border-radius: 20px;
  opacity: 0;

  -webkit-animation: groupbutton 0.5s ease-in-out;
  -webkit-animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
}

.employees, .payroll {
  position: relative;
  font-size: 35vh;
  text-align: center;
  width: auto;
  display: inline-block;
  margin: 20px 40px;
  background-color: transparent;
  color: black;
}